@media screen and (min-width: 768px) {
    /* När bredden på skärmen är 768px eller mer. För tablet:s (och resterande enheter). Dessa brytpunkter kan sättas mer specifikt med hjälp av en webbtrafiksanalys. Då
    skulle man kunna få reda på vilka de mest använda enheterna är och deras skärmstorlekar. I och med det kan brytpunkterna bli mer precisa. Exempelvis om en stor majoritet av
    användarna använder en viss typ av mobiltelefon så kan brytpunkten sättas så att den kompletterar just denna mobiltelefon bäst. Dessa brytpunkter är
    fortsättningsvis mycket hjälpsamma när det gäller plattformsanpassning. En webbplats kan se helt annorlunda ut på en mobiltelefon jämfört med på en dator. Exempelvis
    kan innehållet visas mer utspritt (både horisontellt och vertikalt) på en dator och mer koncentrerat (endast vertikalt) på en mobiltelefon. Då är layouten mer anpassad
    för olika plattformar som webbplatsen kan besökas på. Detta är en plattformsanpassning. */


}