  .Home {
    font-family: "Roboto", sans-serif;
  }

  .Home .siteHeading {
    font-size: 400%;
    position: sticky;
    top: 19.92px;
    transition: transform 0.6s;
  }

  .animationContainer {
    display: grid;
    grid-template-columns: 2fr 0.5fr 2fr;
    margin-top: 1rem;
  }

  .first,
  .last {
    font-size: 200%;
    color: rgb(141, 141, 141);
    font-weight: normal;
    display: inline-block;
  }

  .first {
    text-align: right;
  }

  .last {
    text-align: left;
  }

  .first::after {
    content: "";
    animation: effectBefore 10s infinite forwards;
  }

  .last::before {
    content: "";
    animation: effectAfter 10s infinite forwards;
  }

  .middle {
    display: inline-block;
    font-size: 200%;
    font-weight: normal;
    animation: effectMiddle 10s infinite forwards;
  }

  .Home h3 {
    margin-top: 5rem;
    font-weight: lighter;
    font-size: 200%;
  }

  .Home h3::after {
    content: "";
    animation: typing 10s infinite forwards;
  }

  @media (prefers-reduced-motion) {

    .Home h3::after, .first::after, .last::before, .middle {
      animation: none;
    }
  }

  @keyframes typing {
    0% {
      content: "";
    }

    1% {
      content: "C";
    }

    2% {
      content: "C#";
      color: rgb(231, 231, 231);
    }

    3%,
    13% {
      content: "C#";
      color: rgb(17, 172, 17);
    }

    14% {
      color: rgb(231, 231, 231);
      content: "C#";
    }

    15% {
      content: "C";
    }

    16% {
      content: "";
    }

    17% {
      content: "H";
    }

    18% {
      content: "HT";
    }

    19% {
      content: "HTM";
      color: rgb(231, 231, 231);
    }

    20%,
    30% {
      content: "HTML";
      color: rgb(255, 154, 3);
    }

    31% {
      content: "HTM";
      color: rgb(231, 231, 231);
    }

    32% {
      content: "HT";
    }

    33% {
      content: "H";
    }

    34% {
      content: "";
    }

    35% {
      content: "C";
    }

    36% {
      content: "CS";
      color: rgb(231, 231, 231);
    }

    37%,
    47% {
      content: "CSS";
      color: rgb(35, 124, 226)
    }

    48% {
      content: "CS";
      color: rgb(231, 231, 231);
    }

    49% {
      content: "C";
    }

    50% {
      content: "";
    }

    51% {
      content: "J";
    }

    52% {
      content: "Ja";
    }

    53% {
      content: "Jav;

    }

    54% {
      content: "Java";
    }

    55% {
      content: "JavaS";
    }

    56% {
      content: "JavaSc";
    }

    57% {
      content: "JavaScr;

    }

    58% {
      content: "JavaScri";
    }

    59% {
      content: "JavaScrip";
      color: rgb(231, 231, 231);
    }

    60%,
    70% {
      content: "JavaScript";
      color: rgb(255, 251, 39);
    }

    71% {
      content: "JavaScrip";
      color: rgb(231, 231, 231);
    }

    72% {
      content: "JavaScri";
    }

    73% {
      content: "JavaScr";
    }

    74% {
      content: "JavaSc";
    }

    75% {
      content: "JavaS";
    }

    76% {
      content: "Java";
    }

    77% {
      content: "Jav";
    }

    78% {
      content: "Jav";
    }

    79% {
      content: "Ja";
    }

    80% {
      content: "J";
    }

    81% {
      content: "";
    }

    82% {
      content: "S";
    }

    83% {
      content: "SQ";
      color: rgb(231, 231, 231);
    }

    84%,
    94% {
      content: "SQL";
      color: #FFF;
    }

    95% {
      content: "SQ";
      color: rgb(231, 231, 231);
    }

    96% {
      content: "S";
    }

    97%,
    100% {
      content: "";
    }

  }

  @keyframes effectBefore {
    0% {
      content: "";
      margin-right: 1rem;
    }

    1% {
      content: "publ";
    }

    2% {
      content: "public cl";
    }

    3%,
    13% {
      content: "public class";
    }

    14% {
      content: "public cl";
    }

    15% {
      content: "publ";
      margin-right: 1rem;
    }

    16% {
      content: "";
      margin-right: 0;
    }

    17% {
      content: "<";
    }

    18% {
      content: "<h";
    }

    19% {
      content: "<h2";
    }

    20%,
    34% {
      content: "<h2>";
      font-weight: normal;
    }

    35% {
      content: '<h2 style="font';
    }

    36% {
      content: '<h2 style="font-family: Impact';
    }

    37%,
    47% {
      font-family: Roboto;
      content: '<h2 style="font-family: Impact; color: red;">';
    }

    48% {
      content: '<h2 style="font-family: Impact';
    }

    49% {
      content: '<h2 style="font';
    }

    50% {
      content: "";
      margin-right: 0;
    }

    81% {
      content: "";
      margin-right: 1rem;
    }

    82% {
      content: "SELE";
    }

    83% {
      content: "SELECT * F";
    }

    84%,
    94% {
      content: "SELECT * FROM";
      margin-right: 1rem;
    }

    95%,
    100% {
      content: "";
      margin-right: 0;
    }
  }

  @keyframes effectAfter {
    0% {
      content: "";
      margin-left: 1rem;
    }

    1% {
      content: "{ public int";
    }

    2% {
      content: "{ public int id; public stri";
    }

    3%,
    13% {
      content: "{ public int id; public string FirstName; }";
    }

    14% {
      content: "{ public int id; public stri";
    }

    15% {
      content: "{ public int";
      margin-left: 1rem;
    }

    16% {
      content: "";
      margin-left: 0;
    }

    17% {
      content: "<";
    }

    18% {
      content: "</";
    }

    19% {
      content: "</h";
    }

    20% {
      content: "</h2"
    }

    21%,
    49% {
      content: "</h2>";
      font-weight: normal;
    }

    50% {
      content: "";
      margin-left: 0;
    }

    81% {
      content: "";
      margin-left: 1rem;
    }

    82% {
      content: "WHERE Fir";
    }

    83% {
      content: "WHERE FirstName = 'A";
    }

    84%,
    94% {
      content: " WHERE FirstName = 'Adam';";
    }

    95% {
      content: " WHERE FirstName = 'A";
    }

    96% {
      content: " WHERE F";
      margin-left: 1rem;
    }

    97%,
    100% {
      content: "";
      margin-left: 0;
    }
  }

  @keyframes effectMiddle {
    19% {
      font-weight: normal;
      font-size: 200%;
    }

    20%,
    30% {
      font-size: 210%;
      font-weight: bolder;
    }

    36% {
      font-family: Roboto;
      color: rgb(231, 231, 231);
      
    }

    37%,
    47% {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: red;
      font-size: 210%;
    }

    48% {
      font-size: 200%;
      font-weight: normal;
      font-family: Roboto;
      color: rgb(231, 231, 231);
    }
  }