.header {
    display: flex;
    background-color: rgb(94, 162, 221);
    margin-top: 7rem;
    padding: 1rem 0 1rem 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.profileImage {
    border: 2px solid red;
    border-radius: 50%;
}

.headings h2 {
    font-size: 300%;
}

.headings h3 {
    font-size: 150%;
    color:gray;
}

.content {
    display: flex;
    flex-direction: row-reverse;
}

.education, .workExperience, .aboutMe {
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.mainContent {
    background-color: rgb(238, 238, 238);
    color: black;
    flex: 2;
}

.sideContent {
    background-color: gray;
    flex: 1;
}

.Cv h4 {
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    border-bottom: 1px dashed white;
}