@media screen and (min-width: 320px) {
  
  .Home {
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  
      .siteHeading, .Home h2 {
        text-align: center;
      }
  
        .siteHeading {
          color: white;
          font-size: 250%;
          position: sticky;
          top: 19.92px;
          transition: transform 0.6s;
        }
  
        .Home h2 {
          color: rgb(255, 242, 242);
          font-weight: lighter;
        }
  
          .Home h2::before {
            content: "";
            animation: typing 10s infinite forwards;
          }
  
          .Home h2::after {
            content: "";
            border-right: .15rem solid rgb(255, 211, 128);
            animation: blinkText 0.75s linear infinite;
          }
  
          @media (prefers-reduced-motion) {
            .Home h2::after {
              animation: none;
            }
          }
  
          @keyframes typing {
            0%{ content: ""; }
            1%{ content: "P"; }
            2%{ content: "Pr"; }
            3%{ content: "Pro"; }
            4%{ content: "Prog"; }
            5%{ content: "Progr"; }
            6%{ content: "Progra"; }
            7%, 8%{ content: "Progran"; }
            9%, 10%{ content: "Progra"; }
            11%{ content: "Program"; }
            12%{ content: "Programm"; }
            13%{ content: "Programme"; }
            14%{ content: "Programmer"; }
            15%{ content: "Programmera"; }
            16%{ content: "Programmerar"; }
            17%{ content: "Programmerare"; }
            18%{ content: "Programmerare ";}
            19%{ content: "Programmerare o";}
            20%{ content: "Programmerare oc";}
            21%{ content: "Programmerare och";}
            22%{ content: "Programmerare och ";}
            23%{ content: "Programmerare och u";}
            24%{ content: "Programmerare och ut";}
            25%{ content: "Programmerare och utv";}
            26%{ content: "Programmerare och utve";}
            27%, 28%{ content: "Programmerare och utv";}
            29%{ content: "Programmerare och ut";}
            30%{ content: "Programmerare och u";}
            31%{ content: "Programmerare och ";}
            32%{ content: "Programmerare och w";}
            33%{ content: "Programmerare och we";}
            34%{ content: "Programmerare och web";}
            35%{ content: "Programmerare och webb";}
            36%{ content: "Programmerare och webbu";}
            37%{ content: "Programmerare och webbut";}
            38%{ content: "Programmerare och webbutv";}
            39%{ content: "Programmerare och webbutve";}
            40%{ content: "Programmerare och webbutvec";}
            41%{ content: "Programmerare och webbutveck";}
            42%{ content: "Programmerare och webbutveckl";}
            43%{ content: "Programmerare och webbutveckla";}
            44%{ content: "Programmerare och webbutvecklar";}
            45%{ content: "Programmerare och webbutvecklare";}
            100%{ content: "Programmerare och webbutvecklare";}
          }
  
          @keyframes blinkText {
            to, from{opacity: 100%;}
            50%{opacity: 0%;}
          }
}
