  .Home {
    font-family: "Roboto", sans-serif;
  }

  .Home .siteHeading {
    font-size: 400%;
    position: sticky;
    top: 19.92px;
    transition: transform 0.6s;
  }

  .animationContainer {
    display: grid;
    grid-template-columns: 2fr 0.5fr 2fr;
    margin-top: 1rem;
  }

  .first,
  .last {
    font-size: 200%;
    color: rgb(141, 141, 141);
    font-weight: normal;
    display: inline-block;
  }

  .first {
    text-align: right;
  }

  .last {
    text-align: left;
  }

  .first::after {
    content: "";
    animation: effectBefore 10s infinite forwards;
  }

  .last::before {
    content: "";
    animation: effectAfter 10s infinite forwards;
  }

  .middle {
    display: inline-block;
    font-size: 200%;
    font-weight: normal;
    animation: effectMiddle 10s infinite forwards;
  }

  .Home h3 {
    margin-top: 5rem;
    font-weight: lighter;
    font-size: 200%;
  }

  .Home h3::after {
    content: "";
    animation: typing 10s infinite forwards;
  }

  @media (prefers-reduced-motion) {

    .Home h3::after, .first::after, .last::before, .middle {
      animation: none;
    }
  }

  @keyframes typing {
    0% {
      content: "";
    }

    1% {
      content: "C";
    }

    2% {
      content: "C#";
      color: rgb(231, 231, 231);
    }

    3%,
    13% {
      content: "C#";
      color: rgb(17, 172, 17);
    }

    14% {
      color: rgb(231, 231, 231);
      content: "C#";
    }

    15% {
      content: "C";
    }

    16% {
      content: "";
    }

    17% {
      content: "H";
    }

    18% {
      content: "HT";
    }

    19% {
      content: "HTM";
      color: rgb(231, 231, 231);
    }

    20%,
    30% {
      content: "HTML";
      color: rgb(255, 154, 3);
    }

    31% {
      content: "HTM";
      color: rgb(231, 231, 231);
    }

    32% {
      content: "HT";
    }

    33% {
      content: "H";
    }

    34% {
      content: "";
    }

    35% {
      content: "C";
    }

    36% {
      content: "CS";
      color: rgb(231, 231, 231);
    }

    37%,
    47% {
      content: "CSS";
      color: rgb(35, 124, 226)
    }

    48% {
      content: "CS";
      color: rgb(231, 231, 231);
    }

    49% {
      content: "C";
    }

    50% {
      content: "";
    }

    51% {
      content: "J";
    }

    52% {
      content: "Ja";
    }

    53% {
      content: "Jav;

    }

    54% {
      content: "Java";
    }

    55% {
      content: "JavaS";
    }

    56% {
      content: "JavaSc";
    }

    57% {
      content: "JavaScr;

    }

    58% {
      content: "JavaScri";
    }

    59% {
      content: "JavaScrip";
      color: rgb(231, 231, 231);
    }

    60%,
    70% {
      content: "JavaScript";
      color: rgb(255, 251, 39);
    }

    71% {
      content: "JavaScrip";
      color: rgb(231, 231, 231);
    }

    72% {
      content: "JavaScri";
    }

    73% {
      content: "JavaScr";
    }

    74% {
      content: "JavaSc";
    }

    75% {
      content: "JavaS";
    }

    76% {
      content: "Java";
    }

    77% {
      content: "Jav";
    }

    78% {
      content: "Jav";
    }

    79% {
      content: "Ja";
    }

    80% {
      content: "J";
    }

    81% {
      content: "";
    }

    82% {
      content: "S";
    }

    83% {
      content: "SQ";
      color: rgb(231, 231, 231);
    }

    84%,
    94% {
      content: "SQL";
      color: #FFF;
    }

    95% {
      content: "SQ";
      color: rgb(231, 231, 231);
    }

    96% {
      content: "S";
    }

    97%,
    100% {
      content: "";
    }

  }

  @keyframes effectBefore {
    0% {
      content: "";
      margin-right: 1rem;
    }

    1% {
      content: "publ";
    }

    2% {
      content: "public cl";
    }

    3%,
    13% {
      content: "public class";
    }

    14% {
      content: "public cl";
    }

    15% {
      content: "publ";
      margin-right: 1rem;
    }

    16% {
      content: "";
      margin-right: 0;
    }

    17% {
      content: "<";
    }

    18% {
      content: "<h";
    }

    19% {
      content: "<h2";
    }

    20%,
    34% {
      content: "<h2>";
      font-weight: normal;
    }

    35% {
      content: '<h2 style="font';
    }

    36% {
      content: '<h2 style="font-family: Georgia';
    }

    37%,
    47% {
      font-family: Roboto;
      content: '<h2 style="font-family: Georgia; color: red;">';
    }

    48% {
      content: '<h2 style="font-family: Georgia';
    }

    49% {
      content: '<h2 style="font';
    }

    50% {
      content: "";
      margin-right: 0;
    }

    81% {
      content: "";
      margin-right: 1rem;
    }

    82% {
      content: "SELE";
    }

    83% {
      content: "SELECT * F";
    }

    84%,
    94% {
      content: "SELECT * FROM";
      margin-right: 1rem;
    }

    95%,
    100% {
      content: "";
      margin-right: 0;
    }
  }

  @keyframes effectAfter {
    0% {
      content: "";
      margin-left: 1rem;
    }

    1% {
      content: "{ public int";
    }

    2% {
      content: "{ public int id; public stri";
    }

    3%,
    13% {
      content: "{ public int id; public string FirstName; }";
    }

    14% {
      content: "{ public int id; public stri";
    }

    15% {
      content: "{ public int";
      margin-left: 1rem;
    }

    16% {
      content: "";
      margin-left: 0;
    }

    17% {
      content: "<";
    }

    18% {
      content: "</";
    }

    19% {
      content: "</h";
    }

    20% {
      content: "</h2"
    }

    21%,
    49% {
      content: "</h2>";
      font-weight: normal;
    }

    50% {
      content: "";
      margin-left: 0;
    }

    81% {
      content: "";
      margin-left: 1rem;
    }

    82% {
      content: "WHERE Fir";
    }

    83% {
      content: "WHERE FirstName = 'A";
    }

    84%,
    94% {
      content: " WHERE FirstName = 'Adam';";
    }

    95% {
      content: " WHERE FirstName = 'A";
    }

    96% {
      content: " WHERE F";
      margin-left: 1rem;
    }

    97%,
    100% {
      content: "";
      margin-left: 0;
    }
  }

  @keyframes effectMiddle {
    19% {
      font-weight: normal;
    }

    20%,
    30% {
      font-weight: bolder;
    }

    36% {
      font-family: Roboto;
      color: rgb(231, 231, 231);
    }

    37%,
    47% {
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: red;
    }

    48% {
      font-weight: normal;
      font-family: Roboto;
      color: rgb(231, 231, 231);
    }
  }

  .NavBar {
    margin-top: 100vh;
    margin-bottom: 50vh;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
  }

  .navLinkContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
  }

  .navLink {
    text-decoration: none;
    color: white;
    font-size: 270%;
    width: 100%;
    letter-spacing: 0.4rem;
    transition: 0.3s;
    padding: 1rem;
    padding: 0;
    text-transform: uppercase;
  }

  .navLinkContainer:active>.navLink:not(:active) {
    opacity: 0.2;
  }

  .navLinkContainer:active>.navLink:nth-child(even) {
    transform: translateX(20px) rotate(2deg);
  }

  .navLinkContainer:active>.navLink:nth-child(odd) {
    transform: translateX(-20px) rotate(-2deg);
  }

  .navLinkContainer:active>.navLink:active {
    transform: none;
    font-weight: bold;
  }

  .backgroundVideo {
    height: 1080px;
    width: 500px;
    object-fit: cover;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -2;
    pointer-events: none;
  }

  .backgroundOverlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: black;
    opacity: 0.7;
  }

  @media screen and (min-width: 961px) {
    .navLinkContainer:hover>.navLink:not(:hover) {
      opacity: 0.2;
    }

    .navLinkContainer:hover>.navLink:nth-child(even) {
      transform: translateX(25px) rotate(2deg);
    }

    .navLinkContainer:hover>.navLink:nth-child(odd) {
      transform: translateX(-25px) rotate(-2deg);
    }

    .navLinkContainer:hover>.navLink:hover {
      transform: none;
      font-weight: bold;
    }

    .backgroundVideo {
      height: 1080px;
      width: 1920px;
      transition: transform 1s linear;
    }

    .NavBar:hover+.Background .backgroundVideo {
      transform: scale(2);
    }

    .backgroundOverlay {
      transition: opacity 1s linear;
    }

    .NavBar:hover+.Background .backgroundOverlay {
      opacity: 0.9;
    }
  }