@media screen and (min-width: 320px) {
    
      .NavBar {
        margin-top: 100vh;
        margin-bottom: 50vh;
        width: fit-content;
        margin-right: auto;
        margin-left: auto;
      }
  
        .navLinkContainer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: fit-content;
          margin: auto;
        }
  
          .navLink {
            text-decoration: none;
            color: white;
            font-family: 'Tenor Sans', sans-serif;
            font-size: 270%;
            width: 100%;
            letter-spacing: 0.3rem;
            transition: 0.3s;
            padding: 1rem;
          }

            @keyframes navBarFade {
              from{opacity: 0;}
              to{opacity: 1;}

            }
  
            .navLinkContainer:active > .navLink:not(:active) {
              opacity: 0.2;
            }
  
            .navLinkContainer:active > .navLink:nth-child(even) {
              transform: translateX(20px) rotate(2deg);
            }
  
            .navLinkContainer:active > .navLink:nth-child(odd) {
              transform: translateX(-20px) rotate(-2deg);
            }
  
            .navLinkContainer:active > .navLink:active {
              transform: none;
              font-weight: bold;
            }
}

@media screen and (min-width: 961px) {
  
      .navLink {
        padding: 0;
        text-transform: uppercase;
      }

        .navLinkContainer:hover > .navLink:not(:hover) {
          opacity: 0.2;
        }

        .navLinkContainer:hover > .navLink:nth-child(even) {
          transform: translateX(25px) rotate(2deg);
        }

        .navLinkContainer:hover > .navLink:nth-child(odd) {
          transform: translateX(-25px) rotate(-2deg);
        }

        .navLinkContainer:hover > .navLink:hover {
          transform: none;
          font-weight: bold;
        }
}