@media screen and (min-width: 320px) {
    
        .NavButton {
          cursor: pointer;
          height: 200px;
          margin-top: 12rem;
          margin-left: auto; 
          margin-right: auto;
          width: 200px;
        }
  
          @keyframes blinkButton {
            0%{background-color: white;}
            20%{background-color: rgb(226, 168, 168);}
            40%{background-color: rgb(184, 219, 183);}
            60%{background-color: rgb(157, 201, 214);}
            80%{background-color: rgb(201, 153, 202);}
            100%{background-color: white;}
          }
    
          .arrowLine0, .arrowLine1, .arrowLine2 {
            background-color: white;
            position: absolute;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto;
            margin-top: 10rem;
            border-radius: 25px;
            animation: blinkButton 10s infinite;
          }
    
            .arrowLine0 {
              transform: rotate(45deg) translate(-50px);
              width: 100px;
              height: 20px;
              border-bottom-right-radius: 0px;
            }
  
            .arrowLine1 {
              transform: rotate(-45deg) translate(50px);
              width: 100px;
              height: 20px;
              border-bottom-left-radius: 0px;
            }
  
            .arrowLine2 {
              transform: rotate(90deg) translateX(-60px);
              width: 140px;
              height: 20px;
            }
  }
  
  @media screen and (min-width: 961px) {
    
    .NavButton {
      margin-top: 20rem;
    }
  
      .NavButton:hover .arrowLine0 {
        animation: navButtonArrowLine0Move 2s;
        animation-iteration-count: infinite;
      }
  
        @keyframes navButtonArrowLine0Move {
          0%{transform: rotate(45deg) translate(-50px);}
          11%{transform: rotate(90deg) translate(-60px); border-bottom-right-radius: 25px;}
          22%{transform: rotate(90deg) translate(-60px) translateX(-100px); border-bottom-right-radius: 25px;}
          33%{transform: rotate(90deg) translate(-60px) translateX(-100px) translateY(50px); border-bottom-right-radius: 25px;}
          44%{transform: rotate(45deg) translate(-60px) translateX(-150px) translateY(-50px); border-bottom-right-radius: 25px;}
          55%{transform: rotate(45deg) translate(-60px) translateX(150px) translateY(-50px); border-bottom-right-radius: 25px;}
          66%{transform: rotate(45deg) translate(-60px) translateX(-150px) translateY(-50px); border-bottom-right-radius: 25px;}
          77%{transform: rotate(90deg) translate(-60px) translateX(-100px); border-bottom-right-radius: 25px;}
          88%{transform: rotate(90deg) translate(-60px); border-bottom-right-radius: 25px;}
          100%{transform: rotate(45deg) translate(-50px);}
        }
  
      .NavButton:hover .arrowLine1 {
        animation: navButtonArrowLine1Move 2s;
        animation-iteration-count: infinite;
      }
  
        @keyframes navButtonArrowLine1Move {
          0%{transform: rotate(-45deg) translate(50px);}
          11%{transform: rotate(-90deg) translate(60px);}
          22%{transform: rotate(-90deg) translate(60px) translateX(100px); border-bottom-left-radius: 25px;}
          33%{transform: rotate(-90deg) translate(60px) translateX(100px) translateY(50px); border-bottom-left-radius: 25px;}
          44%{transform: rotate(-45deg) translate(60px) translateX(150px) translateY(-50px); border-bottom-left-radius: 25px;}
          55%{transform: rotate(-45deg) translate(60px) translateX(-150px) translateY(-50px); border-bottom-left-radius: 25px;}
          66%{transform: rotate(-45deg) translate(60px) translateX(150px) translateY(-50px); border-bottom-left-radius: 25px;}
          77%{transform: rotate(-90deg) translate(60px) translateX(100px); border-bottom-left-radius: 25px;}
          88%{transform: rotate(-90deg) translate(60px); border-bottom-left-radius: 25px;}
          100%{transform: rotate(-45deg) translate(50px);}
        }
  
      .NavButton:hover .arrowLine2 {
        animation: navButtonArrowLine2Move 2s;
        animation-iteration-count: infinite;
      }
  
        @keyframes navButtonArrowLine2Move {
          0%{transform: rotate(90deg) translateX(-60px);}
          10%{transform: rotate(90deg) translateX(-60px); width: 100px;}
          20%{transform: rotate(90deg) translate(-250px); width: 100px;}
          30%{transform: rotate(90deg); width: 100px;}
          40%{transform: rotate(90deg) translate(-250px); width: 100px;}
          50%{transform: rotate(90deg) translateX(-60px); width: 100px;}
          100%{transform: rotate(90deg) translateX(-60px);}
        }
  }