@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

body {
  overflow-x: hidden;
}

  .App {
    text-align: center;
  }

    .backgroundVideo {
      height: 1080px;
      width: 1920px;
      position: fixed;
      left: 0;
      bottom: 0;
      z-index: -2;
    }

      @keyframes backgroundZoom {
        from {transform: scale(1);}
        to {transform: scale(2);}
      }

      @keyframes backgroundUnZoom {
        from {transform: scale(2);}
        to {transform: scale(1);}
      }

    .backgroundOverlay {
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      background: black;
      opacity: 0.5;
    }

      @keyframes backgroundFade {
        from {opacity: 0.5;}
        to {opacity: 0.9;}
      }

      @keyframes backgroundUnFade {
        from {opacity: 0.9;}
        to {opacity: 0.2;}
      }

    .Introduction {
      color: white;
      margin-top: 10rem;
    }

    .NavButton i {
      border: solid white;
      border-width: 0 5px 5px 0;
      display: inline-block;
      padding: 10px;
      transform: rotate(45deg);
      cursor: pointer;
    }

      .NavButton i:hover {
        padding: 20px;
      }

    .NavBar {
      margin-top: 100vh;
    }

      .navLinkContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin: auto;
      }

        .navLink {
          text-decoration: none;
          color: white;
          font-family: 'Tenor Sans', sans-serif;
          font-size: 200%;
          font-weight: bold;
          width: 100%;
          letter-spacing: 0.3rem;
          transition: 0.3s;
        }

          .navLinkContainer:hover > .navLink:not(:hover) {
            transform: scale(0.7); 
            opacity: 70%;
          }

          .navLink:hover {
            color:rgb(127, 255, 212);
          }

    .Footer {
      width: 100%;
      margin-top: 100vh;
    }

      .Footer p {
        color: white;
        font-family: 'Oxygen', sans-serif;
        font-weight: bold;
        font-size: 150%;
      }