@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

body {
  overflow-x: hidden;
}

  .App {
    text-align: center;
  }

    .backgroundVideo {
      height: 1080px;
      width: 1920px;
      position: fixed;
      left: 0;
      bottom: 0;
      z-index: -2;
    }

      @keyframes backgroundZoom {
        from {transform: scale(1);}
        to {transform: scale(2);}
      }

      @keyframes backgroundUnZoom {
        from {transform: scale(2);}
        to {transform: scale(1);}
      }

    .backgroundOverlay {
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      background: black;
      opacity: 0.5;
    }

      @keyframes backgroundFade {
        from {opacity: 0.5;}
        to {opacity: 0.9;}
      }

      @keyframes backgroundUnFade {
        from {opacity: 0.9;}
        to {opacity: 0.2;}
      }

    .Introduction {
      color: white;
      margin-top: 10rem;
    }

    .NavButton {
      cursor: pointer;
      border: 2px solid green;
      height: 200px;
      margin-top: 20rem;
      margin-left: auto; 
      margin-right: auto;
      width: 200px;
    }

      .arrowLine0, .arrowLine1, .arrowLine2 {
        background-color: white;
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
        margin-top: 10rem;
        border-radius: 25px;
      }

        .arrowLine0 {
          transform: rotate(45deg) translate(-50px);
          width: 100px;
          height: 20px;
          border-bottom-right-radius: 0px;
          animation: navButtonArrowLine0Blink 4s;
          animation-iteration-count: infinite;
        }

          @keyframes navButtonArrowLine0Blink {
            0%{border: none}
            33%{border: 1px solid lime;}
            66%{border: 1px solid aqua;}
            100%{border: none}
          }

        .arrowLine1 {
          transform: rotate(-45deg) translate(50px);
          width: 100px;
          height: 20px;
          border-bottom-left-radius: 0px;
        }

        .arrowLine2 {
          transform: rotate(90deg) translateX(-60px);
          width: 140px;
          height: 20px;
        }

        .NavButton:hover .arrowLine0 {
          animation: navButtonArrowLine0Move 3s;
          animation-iteration-count: infinite;
        }

          @keyframes navButtonArrowLine0Move {
            0%{transform: rotate(45deg) translate(-50px);}
            11%{transform: rotate(90deg) translate(-60px); border-bottom-right-radius: 25px;}
            22%{transform: rotate(90deg) translate(-60px) translateX(-100px); border-bottom-right-radius: 25px;}
            33%{transform: rotate(90deg) translate(-60px) translateX(-100px) translateY(50px); border-bottom-right-radius: 25px;}
            44%{transform: rotate(45deg) translate(-60px) translateX(-150px) translateY(-50px); border-bottom-right-radius: 25px;}
            55%{transform: rotate(45deg) translate(-60px) translateX(150px) translateY(-50px); border-bottom-right-radius: 25px;}
            66%{transform: rotate(45deg) translate(-60px) translateX(-150px) translateY(-50px); border-bottom-right-radius: 25px;}
            77%{transform: rotate(90deg) translate(-60px) translateX(-100px); border-bottom-right-radius: 25px;}
            88%{transform: rotate(90deg) translate(-60px); border-bottom-right-radius: 25px;}
            100%{transform: rotate(45deg) translate(-50px);}
          }

        .NavButton:hover .arrowLine1 {
          animation: navButtonArrowLine1Move 3s;
          animation-iteration-count: infinite;
        }

          @keyframes navButtonArrowLine1Move {
            0%{transform: rotate(-45deg) translate(50px);}
            11%{transform: rotate(-90deg) translate(60px);}
            22%{transform: rotate(-90deg) translate(60px) translateX(100px); border-bottom-left-radius: 25px;}
            33%{transform: rotate(-90deg) translate(60px) translateX(100px) translateY(50px); border-bottom-left-radius: 25px;}
            44%{transform: rotate(-45deg) translate(60px) translateX(150px) translateY(-50px); border-bottom-left-radius: 25px;}
            55%{transform: rotate(-45deg) translate(60px) translateX(-150px) translateY(-50px); border-bottom-left-radius: 25px;}
            66%{transform: rotate(-45deg) translate(60px) translateX(150px) translateY(-50px); border-bottom-left-radius: 25px;}
            77%{transform: rotate(-90deg) translate(60px) translateX(100px); border-bottom-left-radius: 25px;}
            88%{transform: rotate(-90deg) translate(60px); border-bottom-left-radius: 25px;}
            100%{transform: rotate(-45deg) translate(50px);}
          }


        .NavButton:hover .arrowLine2 {
          animation: navButtonArrowLine2Move 3s;
          animation-iteration-count: infinite;
        }

          @keyframes navButtonArrowLine2Move {
            0%{transform: rotate(90deg) translateX(-60px);}
            10%{transform: rotate(90deg) translateX(-60px); width: 100px;}
            20%{transform: rotate(90deg) translate(-250px); width: 100px;}
            30%{transform: rotate(90deg); width: 100px;}
            40%{transform: rotate(90deg) translate(-250px); width: 100px;}
            50%{transform: rotate(90deg) translateX(-60px); width: 100px;}
            100%{transform: rotate(90deg) translateX(-60px);}
          }

          @keyframes navButtonArrowLine0Down {
            from{transform: rotate(45deg) translate(-50px);}
            to{transform: rotate(45deg) translate(54px, 106px);}
          }

          @keyframes navButtonArrowLine1Down {
            from{transform: rotate(-45deg) translate(50px);}
            to{transform: rotate(-45deg) translate(-54px, 106px);}
          }
          
          @keyframes navButtonArrowLine2Down {
            from{transform: rotate(90deg) translateX(-60px);}
            to{transform: rotate(90deg) translateX(90px);}
          }

    .NavBar {
      margin-top: 100vh;
    }

      .navLinkContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin: auto;
      }

        .navLink {
          text-decoration: none;
          color: white;
          font-family: 'Tenor Sans', sans-serif;
          font-size: 200%;
          font-weight: bold;
          width: 100%;
          letter-spacing: 0.3rem;
          transition: 0.3s;
        }

          .navLinkContainer:hover > .navLink:not(:hover) {
            transform: scale(0.7); 
            opacity: 70%;
          }

          .navLink:hover {
            color:rgb(127, 255, 212);
          }

    .Footer {
      width: 100%;
      margin-top: 100vh;
    }

      .Footer p {
        color: white;
        font-family: 'Oxygen', sans-serif;
        font-weight: bold;
        font-size: 150%;
      }