@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

body {
  overflow-x: hidden;
}

  .App {
    text-align: center;
  }

    .backgroundVideo {
      height: 1080px;
      width: 1920px;
      position: fixed;
      left: 0;
      bottom: 0;
      z-index: -2;
    }

      @keyframes backgroundZoom {
        from {transform: scale(1);}
        to {transform: scale(2);}
      }

      @keyframes backgroundUnZoom {
        from {transform: scale(2);}
        to {transform: scale(1);}
      }

    .backgroundOverlay {
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      background: black;
      opacity: 0.5;
    }

      @keyframes backgroundFade {
        from {opacity: 0.5;}
        to {opacity: 0.9;}
      }

      @keyframes backgroundUnFade {
        from {opacity: 0.9;}
        to {opacity: 0.5;}
      }

    .Introduction h1 {
      color: white;
      opacity: 0%;
      animation: showText 4s forwards;
    }

      @keyframes showText {
        from{opacity: 0%;}
        to{opacity: 100%;}
      }

    .Introduction h2 {
      color: rgb(255, 242, 242);

    }

      .Introduction h2::before {
        content: "";
        animation: typing 14s infinite forwards;
      }

      .Introduction h2::after {
        content: "";
        border-right: .15rem solid rgb(255, 211, 128);
        animation: blinkText 0.75s linear infinite;
      }

      @media (prefers-reduced-motion) {
        .Introduction h2::after {
          animation: none;
        }
      }

      @keyframes typing {
        0%{ content: ""; }
        1%{ content: "P"; }
        2%{ content: "Pr"; }
        3%{ content: "Pro"; }
        4%{ content: "Prog"; }
        5%{ content: "Progr"; }
        6%{ content: "Progra"; }
        7%, 8%{ content: "Progran"; }
        9%, 10%{ content: "Progra"; }
        11%{ content: "Program"; }
        12%{ content: "Programm"; }
        13%{ content: "Programme"; }
        14%{ content: "Programmer"; }
        15%{ content: "Programmera"; }
        16%{ content: "Programmerar"; }
        17%{ content: "Programmerare"; }
        18%{ content: "Programmerare ";}
        19%{ content: "Programmerare o";}
        20%{ content: "Programmerare oc";}
        21%{ content: "Programmerare och";}
        22%{ content: "Programmerare och ";}
        23%{ content: "Programmerare och u";}
        24%{ content: "Programmerare och ut";}
        25%{ content: "Programmerare och utv";}
        26%{ content: "Programmerare och utve";}
        27%, 28%{ content: "Programmerare och utv";}
        29%{ content: "Programmerare och ut";}
        30%{ content: "Programmerare och u";}
        31%{ content: "Programmerare och ";}
        32%{ content: "Programmerare och w";}
        33%{ content: "Programmerare och we";}
        34%{ content: "Programmerare och web";}
        35%{ content: "Programmerare och webb";}
        36%{ content: "Programmerare och webbu";}
        37%{ content: "Programmerare och webbut";}
        38%{ content: "Programmerare och webbutv";}
        39%{ content: "Programmerare och webbutve";}
        40%{ content: "Programmerare och webbutvec";}
        41%{ content: "Programmerare och webbutveck";}
        42%{ content: "Programmerare och webbutveckl";}
        43%{ content: "Programmerare och webbutveckla";}
        44%{ content: "Programmerare och webbutvecklar";}
        45%{ content: "Programmerare och webbutvecklare";}
        100%{ content: "Programmerare och webbutvecklare";}
      }

      @keyframes blinkText {
        to, from{opacity: 100%;}
        50%{opacity: 0%;}
      }

    .NavButton {
      cursor: pointer;
      height: 200px;
      margin-top: 20rem;
      margin-left: auto; 
      margin-right: auto;
      width: 200px;
    }

      .arrowLine0, .arrowLine1, .arrowLine2 {
        background-color: white;
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
        margin-top: 10rem;
        border-radius: 25px;
        animation: blinkButton 10s infinite;
      }

        .arrowLine0 {
          transform: rotate(45deg) translate(-50px);
          width: 100px;
          height: 20px;
          border-bottom-right-radius: 0px;
        }

        .arrowLine1 {
          transform: rotate(-45deg) translate(50px);
          width: 100px;
          height: 20px;
          border-bottom-left-radius: 0px;
        }

        .arrowLine2 {
          transform: rotate(90deg) translateX(-60px);
          width: 140px;
          height: 20px;
        }

        @keyframes blinkButton {
          0%{background-color: white;}
          20%{background-color: rgb(226, 168, 168);}
          40%{background-color: rgb(184, 219, 183);}
          60%{background-color: rgb(157, 201, 214);}
          80%{background-color: rgb(201, 153, 202);}
          100%{background-color: white;}

        }

        .NavButton:hover .arrowLine0 {
          animation: navButtonArrowLine0Move 2s;
          animation-iteration-count: infinite;
        }

          @keyframes navButtonArrowLine0Move {
            0%{transform: rotate(45deg) translate(-50px);}
            11%{transform: rotate(90deg) translate(-60px); border-bottom-right-radius: 25px;}
            22%{transform: rotate(90deg) translate(-60px) translateX(-100px); border-bottom-right-radius: 25px;}
            33%{transform: rotate(90deg) translate(-60px) translateX(-100px) translateY(50px); border-bottom-right-radius: 25px;}
            44%{transform: rotate(45deg) translate(-60px) translateX(-150px) translateY(-50px); border-bottom-right-radius: 25px;}
            55%{transform: rotate(45deg) translate(-60px) translateX(150px) translateY(-50px); border-bottom-right-radius: 25px;}
            66%{transform: rotate(45deg) translate(-60px) translateX(-150px) translateY(-50px); border-bottom-right-radius: 25px;}
            77%{transform: rotate(90deg) translate(-60px) translateX(-100px); border-bottom-right-radius: 25px;}
            88%{transform: rotate(90deg) translate(-60px); border-bottom-right-radius: 25px;}
            100%{transform: rotate(45deg) translate(-50px);}
          }

        .NavButton:hover .arrowLine1 {
          animation: navButtonArrowLine1Move 2s;
          animation-iteration-count: infinite;
        }

          @keyframes navButtonArrowLine1Move {
            0%{transform: rotate(-45deg) translate(50px);}
            11%{transform: rotate(-90deg) translate(60px);}
            22%{transform: rotate(-90deg) translate(60px) translateX(100px); border-bottom-left-radius: 25px;}
            33%{transform: rotate(-90deg) translate(60px) translateX(100px) translateY(50px); border-bottom-left-radius: 25px;}
            44%{transform: rotate(-45deg) translate(60px) translateX(150px) translateY(-50px); border-bottom-left-radius: 25px;}
            55%{transform: rotate(-45deg) translate(60px) translateX(-150px) translateY(-50px); border-bottom-left-radius: 25px;}
            66%{transform: rotate(-45deg) translate(60px) translateX(150px) translateY(-50px); border-bottom-left-radius: 25px;}
            77%{transform: rotate(-90deg) translate(60px) translateX(100px); border-bottom-left-radius: 25px;}
            88%{transform: rotate(-90deg) translate(60px); border-bottom-left-radius: 25px;}
            100%{transform: rotate(-45deg) translate(50px);}
          }


        .NavButton:hover .arrowLine2 {
          animation: navButtonArrowLine2Move 2s;
          animation-iteration-count: infinite;
        }

          @keyframes navButtonArrowLine2Move {
            0%{transform: rotate(90deg) translateX(-60px);}
            10%{transform: rotate(90deg) translateX(-60px); width: 100px;}
            20%{transform: rotate(90deg) translate(-250px); width: 100px;}
            30%{transform: rotate(90deg); width: 100px;}
            40%{transform: rotate(90deg) translate(-250px); width: 100px;}
            50%{transform: rotate(90deg) translateX(-60px); width: 100px;}
            100%{transform: rotate(90deg) translateX(-60px);}
          }

          @keyframes navButtonArrowLine0Down {
            from{transform: rotate(45deg) translate(-50px);}
            to{transform: rotate(45deg) translate(54px, 106px);}
          }

          @keyframes navButtonArrowLine1Down {
            from{transform: rotate(-45deg) translate(50px);}
            to{transform: rotate(-45deg) translate(-54px, 106px);}
          }
          
          @keyframes navButtonArrowLine2Down {
            from{transform: rotate(90deg) translateX(-60px);}
            to{transform: rotate(90deg) translateX(90px);}
          }

    .NavBar {
      margin-top: 100vh;
      margin-bottom: 50vh;
    }

      .navLinkContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin: auto;
      }

        .navLink {
          text-decoration: none;
          color: white;
          font-family: 'Tenor Sans', sans-serif;
          font-size: 200%;
          font-weight: bold;
          width: 100%;
          letter-spacing: 0.3rem;
          transition: 0.3s;
        }

          .navLinkContainer:hover > .navLink:not(:hover) {
            transform: scale(0.7); 
            opacity: 70%;
          }

          .navLink:hover {
            color:rgb(127, 255, 212);
          }

    .Footer {
      width: 100%;
      position: sticky;
      bottom: 0;
    }

      .Footer p {
        color: white;
        font-family: 'Oxygen', sans-serif;
        font-weight: bold;
        font-size: 150%;
      }